#
# Description du service ngrok.
# Installation : 
#  - cd /etc/systemd/system 
#  - sudo ln -s /home/cnr/Documents/quai-des-energies/scripts/qde_ngrokd.service qde_ngrokd.service
#  - sudo systemctl enable qde_ngrokd.service
#  - sudo systemctl daemon-reload
#
[Unit]
Description=qde_ngrok Daemon
After=network-online.target
 
[Service]
Type=simple
 
User=cnr
Group=cnr
 
ExecStart=/snap/bin/ngrok tcp 22
 
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
