<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex">
	<meta name="viewport" content="width=device-width, user-scalable=no">


	<title>CNR_test</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<div class="blocker"></div>
	<div class="blocker2">loading...</div>

	<div class="container off">
		


		<div class="homeSlide">
		</div>
		<div class="menuNav__wrap obj__xscroll active">
            <div class="menuNav">
                    <div class="spacer spacer_start"></div>

                    <div class="spacer spacer_end"></div>
            </div>
        </div>

        <audio class="quizz_timerSound" preload="auto"></audio>
        <audio class="quizz_goodSound" preload="auto"></audio>
        <audio class="quizz_badSound" preload="auto"></audio>

	</div>
	<script>
	// Losrque présence vaut 1, les détecteurs ont détecté quelqu'un
	// Il faut donc :
	var presence = 0;
	
	</script>
	<script src="/js/jquery/jquery.min.js"></script>
	<script src="/js/slick/slick.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/script.js"></script>
	<script>
		var socket = io.connect('http://localhost:<%=port%>');
		socket.emit('login_client', {
			msg: "Browser has been connected at socket on port <%=port%>.\nBrowser is up !"
		});
		
		socket.on('presence', function(data){
			if (data.presence == 1 && presence == 0) {
				// Il n'y avait personne, maintenant il y a quelqu'un
				console.log("Il n'y avait personne, maintenant il y a quelqu'un");
				presence = data.presence;				
				reveiller_application();
			}
		});
	</script>
	
</body>
</html>
