<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="robots" content="noindex">

	<title>CNR_test</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

	<div class="blocker"></div>
	<div class="blocker2">loading...</div>

	<div class="container off">
		


		<div class="homeSlide">
		</div>
		<div class="menuNav__wrap obj__xscroll active">
            <div class="menuNav">
                    <div class="spacer spacer_start"></div>

                    <div class="spacer spacer_end"></div>
            </div>
        </div>

        <audio class="quizz_timerSound"></audio>
        <audio class="quizz_goodSound"></audio>
        <audio class="quizz_badSound"></audio>

	</div>
	<script>
		
		function get_rte_key() { 
			return "<%=config.api_tokens.rte.key %>" 
		};
		function get_atmo_key() { 
			return "<%=config.api_tokens.atmo.key %>" 
		};

	</script>
	<script src="/js/jquery/jquery.min.js"></script>
	<script src="/js/slick/slick.min.js"></script>
	<script src="js/script.js"></script>
</body>
</html>