#
# Description du service deploiement automatique de l'application.
# Installation : 
#  - cd /etc/systemd/system 
#  - sudo ln -s /home/cnr/Documents/quai-des-energies/services/ubuntu/qde_deployd.service qde_deployd.service
#  - sudo systemctl enable qde_deployd.service
#  - sudo systemctl daemon-reload
#

[Unit]
Description=Service de déploiement automatique - Quai des Energies
After=network.target

[Service]
Restart=always
RestartSec=900s
ExecStart=/home/cnr/Documents/quai-des-energies/scripts/deploy.sh

[Install]
WantedBy=multi-user.target


