#
# Description du service récupération des données de la CNR sur le serveur fileshare.cnr.tm.fr.
# Installation : 
#  - cd /etc/systemd/system 
#  - sudo ln -s /home/cnr/Documents/quai-des-energies/services/ubuntu/qde_datacnrd.service qde_datacnrd.service
#  - sudo systemctl enable qde_datacnrd.service
#  - sudo systemctl daemon-reload
#

[Unit]
Description=Service de récupération automatique des données CNR - Quai des Energies
After=network.target

[Service]
Restart=always
RestartSec=1h
ExecStart=sftp -i /home/cnr/.ssh/id_rsa_cnr anooki@fileshare.cnr.tm.fr:/home/PuissanceCNR.json /home/cnr/Documents/quai-des-energies/public/data/PuissanceCNR.json

[Install]
WantedBy=multi-user.target


