#
# Timer pour le déclenchement du déploiement automatique.
# Installation : 
#  - cd /etc/systemd/system 
#  - sudo ln -s /home/cnr/Documents/quai-des-energies/scripts/qde_deployd.timer qde_deployd.timer
#  - sudo systemctl enable qde_deployd.timer
#  - sudo systemctl daemon-reload
#
[Unit]
Description=Timer du service de déploiement automatique - Quai des Energies

[Timer]
# le service démarrera 15 minutes après le démarrage de la machine
OnBootSec=1minutes   
# le service démarrera toutes les trente minutes après la dernière activation du timer
OnUnitActiveSec=15minutes  
Persistent=true

[Install]
WantedBy=timers.target

#[Unit]
#Description=Run foo

#[Service]
#User=%I
#Restart=always
#RestartSec=1800s
#ExecStart=/bin/bash /home/user/script.sh
